[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"
markdown = "*"
django-ckeditor = "*"
folium = "*"
geocoder = "*"

[dev-packages]

[requires]
python_version = "3.11"
