
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Analytics {% block title %}
    
    {% endblock  %}</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styleslast.css' %}">
    <!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css'%}" rel="stylesheet">
  </head>
  <body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">WasteWater Analytics</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>




<div class="container-fluid">
  <div class="row">
    {% include "partials/_sidebar.html" %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

       <div class="main-title" >
          <h1>Secondary Stage Parameters</h1>
        </div>

        <div class="main-cards">

    <a href="{% url 'analysis1' %}" class="card">
      <div class="card-inner">
        <h4 style="color: white;">Primary Analysis</h4>
      </div>
    </a>



    <a href="{% url 'analysis2' %}" class="card">
      <div class="card-inner">
        <h4 style="color: white;">secondary Analysis</h4>
      </div>
    </a>

    <a href="{% url 'analysis1' %}" class="card">
      <div class="card-inner">
        <h4 style="color: white;">Tertiary Analysis</h4>
      </div>
    </a>

          <div class="card">
            <div class="card-inner">
              <h4>ALERTS</h4>
              <span class="material-icons-outlined">notification_important</span>
            </div>
          </div>

        </div>
<iframe src="http://localhost:3000/d-solo/fdjhomwzs87i8d/secondary-stage?orgId=1&refresh=5s&panelId=9" width="565" height="300" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/fdjhomwzs87i8d/secondary-stage?orgId=1&refresh=5s&panelId=8" width="550" height="300" frameborder="0"></iframe>  
<iframe src="http://localhost:3000/d-solo/fdjhomwzs87i8d/secondary-stage?orgId=1&refresh=5s&panelId=7" width="565" height="300" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/fdjhomwzs87i8d/secondary-stage?orgId=1&refresh=5s&panelId=6" width="550" height="300" frameborder="0"></iframe> 
<iframe src="http://localhost:3000/d-solo/fdjhomwzs87i8d/secondary-stage?orgId=1&refresh=5s&tab=alert&panelId=5" width="565" height="300" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/fdjhomwzs87i8d/secondary-stage?orgId=1&refresh=5s&tab=alert&panelId=4" width="550" height="300" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/fdjhomwzs87i8d/secondary-stage?orgId=1&refresh=5s&panelId=3" width="565" height="300" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/fdjhomwzs87i8d/secondary-stage?orgId=1&refresh=5s&panelId=2" width="550" height="300" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/fdjhomwzs87i8d/secondary-stage?orgId=1&refresh=5s&panelId=1"  width="1117" height="300" frameborder="0"></iframe>  
  <div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2024 Company, Inc</p>
  </footer>
</div>

  
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.9.0/dist/feather.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
        <script src="dashboard.js"></script></body>
</html>
