/* Add the styles for placeholder images */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Add styles for the show password toggle */
.showPasswordToggle {
  cursor: pointer;
  transition: all;
}

.showPasswordToggle:hover {
  transform: scale(1.2);
}

/* Adjust the size of the navbar brand image */
.navbar-brand img {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
